PORT=4000
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin123
DATABASE_NAME=home_library
LOG_LEVEL=info
LOG_FILE_MAX_SIZE_KB=1024
JWT_SECRET_KEY=your_access_token_secret
JWT_SECRET_REFRESH_KEY=your_refresh_token_secret